body{
    font: "Montserrat";
}
#title{
    background-color: #ff1940;
    color: white;
}
.container-fluid{
    padding:2% 12% 0% 12%;
}
.navbar{
    padding: 0 0 5rem 0;
}

.navbar-brand{
    font-size: 2.1rem;
    font-weight: 600;
    color: white;
    font-family: 'Righteous', cursive;
    transition: 1s;
}
.navbar:hover{
    color: #000000;
}
.nav-item{
    padding: 0 1rem 0 1rem;
}
.nav-link{
    color: white;
    font-size: 1.1rem;
}
#h1{
   font-size: 3.5rem;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 900;
   word-spacing: .3rem;
   
}
.dbtn{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-color: #00000000;
    margin: 1.5rem 3rem 0 0;
    padding: .6rem;
    transition: .02s;
    font-size: 1.3rem;
    font-weight: 600;
}
.dbtn:hover{
    color: #000000;
    background-color: white;
}
.playstore{
    width: 2.5rem;
    height: 2.5rem;
}
/* title image */
.iphone{
    padding: 3rem;
    right: 45%;
    /* width: 105%; */
    /* margin: 0 0 0 1rem; */
    transform: rotate(20deg);
    /* position: absolute; */
}


/* features sectionn */
#features{
    padding: 6rem 5rem;
    /* position: relative;
    z-index: 1; */
}
.feature-box{
    /* padding: .2rem; */
    background-color: rgb(255, 255, 255);
    text-align: center;

}
.features-icon{
    width: 3rem;
    height: 3rem;
    margin: 2rem 0 0.5rem 0;
}
/* testimonials */
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:900;
    font-size: 2.3rem;
}
#testimonials{
   
    background-color: #ff1940;
    color: white;

}
.carousel-item {
    font-family: 'Josefin Sans', sans-serif;
    padding: 5rem 15rem;
    text-align: center;
    
}
.testi-img{
    border-radius: 300%;
    width: 18rem;
    height: 18rem;
    background-color: white;
}
#press{
    padding: 1rem;
    background-color: #ff1940;
    text-align: center;
}
.pressimg{
    width: 15%;
    padding: 2rem;
    margin: 20px;
    background-color: #e9e2e3;
}

/* pricing */
#pricing{
    padding: 3rem;
}
.h2price{
    font-weight: 700;
}
.card{
    margin: 1rem;
}
.cards-text{
    padding: 2rem;
    text-align: center;
}
.card-body{
    padding: 2rem;
}

#footer{
    text-align: center;
    padding: 2rem;
    background-color: #ff1940;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.fut{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;

}
.alink{
    color: white;
}

@media (max-width:990px) {
    .iphone{
        transform:rotate(0deg);
    }
    #title{
        text-align: center;
    }
    .h2price{
        text-align: center;
    }
    .pprice{
        text-align: center;
    }
    
}